*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(210, 46%, 95%);
	font-size: 13px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	display: block;
	max-width: 100%;
}

.card {
	width: 80%;
	max-width: 1100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
}

.name, .verified {
	text-align: justify;
	font-weight: 500;
}

.name {
	font-size: 13px;
}

.verified {
	opacity: 50%;
	font-size: 11px;
}

.img-container {
	display: flex;
	margin-bottom: 1rem;
}

.profile-pic {
	width: 30px;
	margin: 25px 15px 0 0px;
	border: 1px solid white;
	border-radius: 30px;
}

.text {
	font-size: 20px;
	line-height: 0.8em;
	margin-top: 23px;
}

.desc {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 1rem;
}

.second-desc {
	opacity: 70%;
	font-size: 13px;
	font-weight: 500;
	text-align: justify;
}

.first, .second, .third, .fourth, .fifth {
	padding: 0 30px 25px 30px;
}

.first img, .fifth img {
	border: 2px solid hsl(263, 55%, 72%);
}

.first {
	background-image: url("./images/bg-pattern-quotation.svg");
	background-repeat: no-repeat;
	background-color: hsl(263, 55%, 52%);
	background-position: right 20% top;
	grid-column: 1/ span 2;
	border-radius: 10px;
	color: white;
}

.second {
	background-color: hsl(217, 19%, 35%);
	border-radius: 10px;
	color: white;
}

.third {
	background-color: white;
	border-radius: 10px;
	grid-column: 4/5;
	grid-row: 1 / span 2;
}

.fourth {
	background-color: white;
	border-radius: 10px;
}

.fifth {
	color: white;
	background-color: hsl(219, 29%, 14%);
	border-radius: 10px;
	grid-column: 2/ span 2;
}

@media (max-width:450px) {
	main.card{
		width: 320px;
	}
}

@media (max-width:1100px) {
	.card {
		width: 90%;
		max-width: unset;
		margin:20px 0;
		gap: 20px;
		grid-template-columns: 1fr;
		place-content: center;
	}
	.first, .second, .third, .fourth, .fifth {
		grid-column: 1/2;
	}
	.third {
		grid-row: 5/6;
	}
}

@media (min-width:570px) and (max-width:1100px){
	.card{
		max-width: 650px;
		grid-template-columns: 1fr 1fr;
	}
	.first, .third, .fifth{
		grid-column: 1/3;
	}
	.fourth{
		grid-column: 2/3;
		grid-row: 2/3;
	}
}

@media (min-width:750px) and (max-width:1100px){
	.card{
		max-width: 750px;
	}
}